<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmbulanceSystem.Shared.Config.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmbulanceSystem.Shared.Config.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AmbulanceSystem.Shared.Config.Properties>
            <setting name="LanguageClass" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="TranslateText" serializeAs="String">
                <value>Switch to Serbian</value>
            </setting>
            <setting name="NumberOfRecordsPerPage" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
        </AmbulanceSystem.Shared.Config.Properties>
    </userSettings>
    <applicationSettings>
        <AmbulanceSystem.Shared.Config.Properties>
            <setting name="ButtonIconUriPrefix" serializeAs="String">
                <value>pack://application:,,,/Shared/Images/Buttons/</value>
            </setting>
        </AmbulanceSystem.Shared.Config.Properties>
    </applicationSettings>
</configuration>